.h_background{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.rockstargames.com/dist/img/global/2qbg.png");
    height: 60px;
    background-repeat: repeat-x;
    background-size: auto 300%;
    animation: head 3s linear infinite forwards;
    position:sticky;
    top: 0;
    z-index: 100;
}
html{
    font-family: "HelveticaNeueLTW07";
}
a.Rockstar{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20216%20198.83%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fcaf17%3B%7D.cls-2%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAsset%201%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20d%3D%22M214.55%2C197.37a4.94%2C4.94%2C0%2C1%2C1%2C1.45-3.5A4.75%2C4.75%2C0%2C0%2C1%2C214.55%2C197.37Zm-6.52-6.5a4.27%2C4.27%2C0%2C0%2C0%2C0%2C6%2C4.25%2C4.25%2C0%2C0%2C0%2C6%2C0%2C4.26%2C4.26%2C0%2C0%2C0-6-6Zm2.92.27a4.24%2C4.24%2C0%2C0%2C1%2C1.5.2%2C1.36%2C1.36%2C0%2C0%2C1%2C.84%2C1.38%2C1.17%2C1.17%2C0%2C0%2C1-.53%2C1.08%2C2.45%2C2.45%2C0%2C0%2C1-.78.26%2C1.32%2C1.32%2C0%2C0%2C1%2C.93.52%2C1.57%2C1.57%2C0%2C0%2C1%2C.3.84v.39c0%2C.13%2C0%2C.27%2C0%2C.41a1.2%2C1.2%2C0%2C0%2C0%2C0%2C.28l0%2C.07h-.89a.07.07%2C0%2C0%2C0%2C0%2C0s0%2C0%2C0-.07l0-.17v-.42c0-.63-.17-1.05-.52-1.24a2.45%2C2.45%2C0%2C0%2C0-1.07-.17H210v2.12h-.95v-5.43Zm1%2C.89a2.38%2C2.38%2C0%2C0%2C0-1.16-.2H210v1.94h.87a2.48%2C2.48%2C0%2C0%2C0%2C.93-.13A.94.94%2C0%2C0%2C0%2C212%2C192Z%22%2F%3E%3Cpath%20d%3D%22M178.43%2C0H38.26C17.17%2C0%2C0%2C16.66%2C0%2C37.12V161.63c0%2C20.74%2C16.65%2C37%2C37.91%2C37H178.08c21.26%2C0%2C37.92-16.26%2C37.92-37V37.12C216%2C16.31%2C199.5%2C0%2C178.43%2C0Zm33.31%2C161.62c0%2C18.36-14.78%2C32.75-33.66%2C32.75H37.91C19%2C194.37%2C4.25%2C180%2C4.25%2C161.62V37.11c0-18.43%2C15-32.86%2C34-32.86H178.43c18.68%2C0%2C33.31%2C14.43%2C33.31%2C32.86Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M178.43%2C4.25H38.26c-19.06%2C0-34%2C14.43-34%2C32.86V161.62C4.25%2C180%2C19%2C194.37%2C37.91%2C194.37H178.08c18.88%2C0%2C33.66-14.39%2C33.66-32.75V37.11C211.74%2C18.68%2C197.11%2C4.25%2C178.43%2C4.25Z%22%2F%3E%3Cpath%20d%3D%22M185.49%2C118.2H158.43l-4.29-27L138.28%2C118h-3a23.14%2C23.14%2C0%2C0%2C1-2.52-10.42c0-4.6.34-9.1.34-15%2C0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8%2C18.81-10.36%2C18.81-22.42%2C0-17.12-11.39-20.84-26.32-20.84H77.08l-17%2C80.4H81.45l6.18-29.25h14.19c7.57%2C0%2C10.67%2C3.7%2C10.67%2C10.79%2C0%2C5.39-.56%2C9.66-.56%2C13.81%2C0%2C1.54.35%2C5.11%2C1.38%2C6.49%2C0%2C0%2C15.43%2C16.29%2C15.43%2C16.29l-13.27%2C28.55L143.86%2C146%2C165%2C162.23l-4-26.93ZM108.2%2C71.86h-17L95.3%2C52.48h15.79c5.62%2C0%2C11.46%2C1.46%2C11.46%2C8.34C122.55%2C69.49%2C115.9%2C71.86%2C108.2%2C71.86Z%22%2F%3E%3Cpolygon%20class%3D%22cls-2%22%20points%3D%22173.03%20122.13%20155.08%20122.13%20151.97%20102.6%20140.53%20121.94%20122.42%20121.94%20133.43%20133.54%20124.38%20152.98%20144.16%20141.23%20159.74%20153.21%20156.84%20133.46%20173.03%20122.13%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    margin: 12px 0;
}

.figure{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%20%20%20%20%20viewBox%3D%220%200%2048%2048%22%20style%3D%22enable-background%3Anew%200%200%2048%2048%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20.st0%7Bopacity%3A0.1%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%7D%0A%20%20%20%20.st1%7Bclip-path%3Aurl(%23SVGID_2_)%3Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2224%22%20cy%3D%2224%22%20r%3D%2224%22%2F%3E%0A%3Cg%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22SVGID_1_%22%20d%3D%22M23.435%2C36C23.435%2C36%2C23.36%2C36%2C23.435%2C36h-0.6c-2.025%2C0-4.199%2C0-6.299-0.6%0A%20%20%20%20%20%20%20%20%20%20%20%20c-2.25-0.675-3.449-1.8-3.524-3.524c-0.075-0.825%2C0.225-1.65%2C0.75-2.325c0.825-1.125%2C2.025-1.8%2C3.074-2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.375-0.225%2C0.75-0.375%2C1.125-0.6c0.45-0.3%2C1.5-1.05%2C1.575-2.025c0-0.45-0.15-0.975-0.6-1.575l-0.45-0.675%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.3-0.45-0.6-0.9-0.9-1.425c-0.9-1.875-0.75-4.199%2C0.3-5.924c0.15-0.225%2C0.3-0.45%2C0.525-0.675c1.35-1.5%2C3.224-2.325%2C5.249-2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c2.025-0.075%2C3.974%2C0.825%2C5.399%2C2.25c0.225%2C0.225%2C0.45%2C0.525%2C0.6%2C0.75c1.05%2C1.725%2C1.125%2C4.049%2C0.225%2C5.924%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.3%2C0.525-0.6%2C0.975-0.9%2C1.425l-0.45%2C0.675c-0.375%2C0.6-0.6%2C1.125-0.6%2C1.575c0.075%2C0.975%2C1.125%2C1.725%2C1.575%2C2.025%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.375%2C0.225%2C0.75%2C0.45%2C1.125%2C0.6c1.05%2C0.525%2C2.25%2C1.125%2C3.074%2C2.325c0.525%2C0.675%2C0.75%2C1.575%2C0.75%2C2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075%2C1.65-1.275%2C2.849-3.524%2C3.524c-0.525%2C0.15-1.05%2C0.225-1.5%2C0.375c-0.525%2C0.075-1.125-0.3-1.2-0.825%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075-0.525%2C0.3-1.125%2C0.825-1.2c0.45-0.075%2C0.9-0.15%2C1.275-0.3c1.8-0.525%2C2.025-1.125%2C2.025-1.65%0A%20%20%20%20%20%20%20%20%20%20%20%20c0-0.375-0.075-0.675-0.375-1.05c-0.525-0.75-1.425-1.2-2.325-1.725c-0.45-0.225-0.825-0.45-1.275-0.675%0A%20%20%20%20%20%20%20%20%20%20%20%20c-1.575-0.975-2.475-2.25-2.55-3.674c-0.075-0.9%2C0.225-1.8%2C0.9-2.849c0.15-0.225%2C0.3-0.525%2C0.525-0.75%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.3-0.375%2C0.525-0.75%2C0.75-1.125c0.6-1.2%2C0.525-2.7-0.15-3.899c-0.075-0.075-0.15-0.15-0.3-0.375%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.975-1.05-2.4-1.65-3.899-1.65c-1.425%2C0-2.774%2C0.6-3.749%2C1.65c-0.15%2C0.15-0.225%2C0.3-0.3%2C0.375c-0.675%2C1.2-0.75%2C2.7-0.15%2C3.899%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.225%2C0.375%2C0.45%2C0.75%2C0.75%2C1.125c0.15%2C0.225%2C0.375%2C0.45%2C0.525%2C0.75c0.675%2C0.975%2C0.975%2C1.95%2C0.9%2C2.849%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075%2C1.425-0.975%2C2.7-2.55%2C3.674c-0.375%2C0.225-0.825%2C0.45-1.275%2C0.675c-0.9%2C0.525-1.8%2C0.975-2.325%2C1.725%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.225%2C0.3-0.375%2C0.675-0.375%2C1.05c0%2C0.525%2C0.3%2C1.125%2C2.025%2C1.65c1.8%2C0.525%2C3.674%2C0.525%2C5.699%2C0.525h0.6%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.3%2C0%2C0.6%2C0.15%2C0.75%2C0.375c0.225%2C0.225%2C0.3%2C0.525%2C0.225%2C0.825C24.409%2C35.625%2C23.959%2C36%2C23.435%2C36z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20%20style%3D%22overflow%3Avisible%3Bfill%3A%23FFFFFF%3B%22%2F%3E%0A%20%20%20%20%3CclipPath%20id%3D%22SVGID_2_%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20%20style%3D%22overflow%3Avisible%3B%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%20%20%3Crect%20x%3D%228%22%20y%3D%227%22%20class%3D%22st1%22%20width%3D%2231.458%22%20height%3D%2234%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    margin: 12px 32px;
}


#head a{
    height: 36px;
    float: left;
}

.sidebar{
    width: 24px;
    margin: 12px 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    float: left;
}

body{
    margin: 0;
}

@keyframes head{
    0% {background-position-x: 0%}
    100% {background-position-x: 10%}
}
.spam1{
    transform: translateY(-200%);
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
    transition: 0.2s;
}
.spam2{
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
    transition: 0.2s;
}
.spam3{
    transform: translateY(200%);
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
    transition: 0.2s;
}

#main{
    position:relative;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 23.4px;
    text-align: center;
}

.lunbo{
    max-width: 1420px;
    width: 100vw;
    margin: 0 -23.4px 58.5px -23.4px;
}

.lunboimg{
    top: 0;
    left: 0;
    bottom: 0;
}

.z-1{
    width:100%;
    z-index: 1;
    margin:0;
    display:block;
}
.z-2{
    width:100%;
    position:absolute;
    z-index: 2;
}
.z-3{
    width:100%;
    position:absolute;
    z-index: 3;
}
.img-layer{
    position:relative;
}

.video{
    color:white;
    text-decoration: none;
}
.lunbotext{
    margin:0;
    background-color: black;
}

.videobutton{
    height: 40px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
}

.videobutton h3{
    margin: 0 30px;
}
.videobutton button{
    padding:11.7px 23.4px;
    height: 100%;
    background: #fcaf17;
    border: 0;
    font:400 15.6px Arial;
    cursor: pointer;
    outline:none;
}

@font-face {
	font-family:cos1;
	src: url('fonts/fontfz.ttf');
}

.control{
    text-align: center;
}

.control button{
    height: 11px;
    width: 11px;
    margin:0 0 0 15px;
    background: black;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    outline:none;
}

.To1{
    background: #fcaf17!important;
}

.NEWSWIRE{
    font-size:2.1em;
    padding: 0 0 2px 0;
    border-bottom: 6px solid black;
    margin: 0 0 29px 0;
}
.NEWSWIRE a{

}
.new1{
    width:100%;
    position:relative;
}
.news{
    padding:14.625px;
}

.news h1{
    font-size:1.8em;
    width:100%;
}
.grid{
    text-decoration: none;
    color: black;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.p-0{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    margin: 0 0 35px 0;
}

.grid-1{
    grid-column: 1/-1;
}
.grid-2{
    grid-column: span 3;
}
.grid-3{
    grid-column: span 2;
}

.view{
    display:inline-block;
    transition: 0.2s;
}

.view_background{
    width:100%;
    height: 4px;
    background: #fcaf17;
}

.view:hover{
    background: height #fcaf17;   
}