.h_background{
    transition: background-image 0.6s;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic/head-background.png");
    height: 60px;
    background-repeat: repeat-x;
    background-size: auto 300%;
    animation: head 3s linear infinite forwards;
    position:sticky;
    top: 0;
    z-index: 100;
}
html{
    font-family: "HelveticaNeueLTW07";
    transition: 0.2s;
}
a.Rockstar{
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20216%20198.83%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fcaf17%3B%7D.cls-2%7Bfill%3A%23fff%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EAsset%201%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22Layer_1-2%22%20data-name%3D%22Layer%201%22%3E%3Cpath%20d%3D%22M214.55%2C197.37a4.94%2C4.94%2C0%2C1%2C1%2C1.45-3.5A4.75%2C4.75%2C0%2C0%2C1%2C214.55%2C197.37Zm-6.52-6.5a4.27%2C4.27%2C0%2C0%2C0%2C0%2C6%2C4.25%2C4.25%2C0%2C0%2C0%2C6%2C0%2C4.26%2C4.26%2C0%2C0%2C0-6-6Zm2.92.27a4.24%2C4.24%2C0%2C0%2C1%2C1.5.2%2C1.36%2C1.36%2C0%2C0%2C1%2C.84%2C1.38%2C1.17%2C1.17%2C0%2C0%2C1-.53%2C1.08%2C2.45%2C2.45%2C0%2C0%2C1-.78.26%2C1.32%2C1.32%2C0%2C0%2C1%2C.93.52%2C1.57%2C1.57%2C0%2C0%2C1%2C.3.84v.39c0%2C.13%2C0%2C.27%2C0%2C.41a1.2%2C1.2%2C0%2C0%2C0%2C0%2C.28l0%2C.07h-.89a.07.07%2C0%2C0%2C0%2C0%2C0s0%2C0%2C0-.07l0-.17v-.42c0-.63-.17-1.05-.52-1.24a2.45%2C2.45%2C0%2C0%2C0-1.07-.17H210v2.12h-.95v-5.43Zm1%2C.89a2.38%2C2.38%2C0%2C0%2C0-1.16-.2H210v1.94h.87a2.48%2C2.48%2C0%2C0%2C0%2C.93-.13A.94.94%2C0%2C0%2C0%2C212%2C192Z%22%2F%3E%3Cpath%20d%3D%22M178.43%2C0H38.26C17.17%2C0%2C0%2C16.66%2C0%2C37.12V161.63c0%2C20.74%2C16.65%2C37%2C37.91%2C37H178.08c21.26%2C0%2C37.92-16.26%2C37.92-37V37.12C216%2C16.31%2C199.5%2C0%2C178.43%2C0Zm33.31%2C161.62c0%2C18.36-14.78%2C32.75-33.66%2C32.75H37.91C19%2C194.37%2C4.25%2C180%2C4.25%2C161.62V37.11c0-18.43%2C15-32.86%2C34-32.86H178.43c18.68%2C0%2C33.31%2C14.43%2C33.31%2C32.86Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M178.43%2C4.25H38.26c-19.06%2C0-34%2C14.43-34%2C32.86V161.62C4.25%2C180%2C19%2C194.37%2C37.91%2C194.37H178.08c18.88%2C0%2C33.66-14.39%2C33.66-32.75V37.11C211.74%2C18.68%2C197.11%2C4.25%2C178.43%2C4.25Z%22%2F%3E%3Cpath%20d%3D%22M185.49%2C118.2H158.43l-4.29-27L138.28%2C118h-3a23.14%2C23.14%2C0%2C0%2C1-2.52-10.42c0-4.6.34-9.1.34-15%2C0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8%2C18.81-10.36%2C18.81-22.42%2C0-17.12-11.39-20.84-26.32-20.84H77.08l-17%2C80.4H81.45l6.18-29.25h14.19c7.57%2C0%2C10.67%2C3.7%2C10.67%2C10.79%2C0%2C5.39-.56%2C9.66-.56%2C13.81%2C0%2C1.54.35%2C5.11%2C1.38%2C6.49%2C0%2C0%2C15.43%2C16.29%2C15.43%2C16.29l-13.27%2C28.55L143.86%2C146%2C165%2C162.23l-4-26.93ZM108.2%2C71.86h-17L95.3%2C52.48h15.79c5.62%2C0%2C11.46%2C1.46%2C11.46%2C8.34C122.55%2C69.49%2C115.9%2C71.86%2C108.2%2C71.86Z%22%2F%3E%3Cpolygon%20class%3D%22cls-2%22%20points%3D%22173.03%20122.13%20155.08%20122.13%20151.97%20102.6%20140.53%20121.94%20122.42%20121.94%20133.43%20133.54%20124.38%20152.98%20144.16%20141.23%20159.74%20153.21%20156.84%20133.46%20173.03%20122.13%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    margin: 12px 0;
}

.figure{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%20%20%20%20%20viewBox%3D%220%200%2048%2048%22%20style%3D%22enable-background%3Anew%200%200%2048%2048%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20.st0%7Bopacity%3A0.1%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bfill%3A%23FFFFFF%3B%7D%0A%20%20%20%20.st1%7Bclip-path%3Aurl(%23SVGID_2_)%3Bfill%3A%23FFFFFF%3B%7D%0A%3C%2Fstyle%3E%0A%3Ccircle%20class%3D%22st0%22%20cx%3D%2224%22%20cy%3D%2224%22%20r%3D%2224%22%2F%3E%0A%3Cg%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22SVGID_1_%22%20d%3D%22M23.435%2C36C23.435%2C36%2C23.36%2C36%2C23.435%2C36h-0.6c-2.025%2C0-4.199%2C0-6.299-0.6%0A%20%20%20%20%20%20%20%20%20%20%20%20c-2.25-0.675-3.449-1.8-3.524-3.524c-0.075-0.825%2C0.225-1.65%2C0.75-2.325c0.825-1.125%2C2.025-1.8%2C3.074-2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.375-0.225%2C0.75-0.375%2C1.125-0.6c0.45-0.3%2C1.5-1.05%2C1.575-2.025c0-0.45-0.15-0.975-0.6-1.575l-0.45-0.675%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.3-0.45-0.6-0.9-0.9-1.425c-0.9-1.875-0.75-4.199%2C0.3-5.924c0.15-0.225%2C0.3-0.45%2C0.525-0.675c1.35-1.5%2C3.224-2.325%2C5.249-2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c2.025-0.075%2C3.974%2C0.825%2C5.399%2C2.25c0.225%2C0.225%2C0.45%2C0.525%2C0.6%2C0.75c1.05%2C1.725%2C1.125%2C4.049%2C0.225%2C5.924%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.3%2C0.525-0.6%2C0.975-0.9%2C1.425l-0.45%2C0.675c-0.375%2C0.6-0.6%2C1.125-0.6%2C1.575c0.075%2C0.975%2C1.125%2C1.725%2C1.575%2C2.025%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.375%2C0.225%2C0.75%2C0.45%2C1.125%2C0.6c1.05%2C0.525%2C2.25%2C1.125%2C3.074%2C2.325c0.525%2C0.675%2C0.75%2C1.575%2C0.75%2C2.325%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075%2C1.65-1.275%2C2.849-3.524%2C3.524c-0.525%2C0.15-1.05%2C0.225-1.5%2C0.375c-0.525%2C0.075-1.125-0.3-1.2-0.825%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075-0.525%2C0.3-1.125%2C0.825-1.2c0.45-0.075%2C0.9-0.15%2C1.275-0.3c1.8-0.525%2C2.025-1.125%2C2.025-1.65%0A%20%20%20%20%20%20%20%20%20%20%20%20c0-0.375-0.075-0.675-0.375-1.05c-0.525-0.75-1.425-1.2-2.325-1.725c-0.45-0.225-0.825-0.45-1.275-0.675%0A%20%20%20%20%20%20%20%20%20%20%20%20c-1.575-0.975-2.475-2.25-2.55-3.674c-0.075-0.9%2C0.225-1.8%2C0.9-2.849c0.15-0.225%2C0.3-0.525%2C0.525-0.75%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.3-0.375%2C0.525-0.75%2C0.75-1.125c0.6-1.2%2C0.525-2.7-0.15-3.899c-0.075-0.075-0.15-0.15-0.3-0.375%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.975-1.05-2.4-1.65-3.899-1.65c-1.425%2C0-2.774%2C0.6-3.749%2C1.65c-0.15%2C0.15-0.225%2C0.3-0.3%2C0.375c-0.675%2C1.2-0.75%2C2.7-0.15%2C3.899%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.225%2C0.375%2C0.45%2C0.75%2C0.75%2C1.125c0.15%2C0.225%2C0.375%2C0.45%2C0.525%2C0.75c0.675%2C0.975%2C0.975%2C1.95%2C0.9%2C2.849%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.075%2C1.425-0.975%2C2.7-2.55%2C3.674c-0.375%2C0.225-0.825%2C0.45-1.275%2C0.675c-0.9%2C0.525-1.8%2C0.975-2.325%2C1.725%0A%20%20%20%20%20%20%20%20%20%20%20%20c-0.225%2C0.3-0.375%2C0.675-0.375%2C1.05c0%2C0.525%2C0.3%2C1.125%2C2.025%2C1.65c1.8%2C0.525%2C3.674%2C0.525%2C5.699%2C0.525h0.6%0A%20%20%20%20%20%20%20%20%20%20%20%20c0.3%2C0%2C0.6%2C0.15%2C0.75%2C0.375c0.225%2C0.225%2C0.3%2C0.525%2C0.225%2C0.825C24.409%2C35.625%2C23.959%2C36%2C23.435%2C36z%22%2F%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20%20style%3D%22overflow%3Avisible%3Bfill%3A%23FFFFFF%3B%22%2F%3E%0A%20%20%20%20%3CclipPath%20id%3D%22SVGID_2_%22%3E%0A%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23SVGID_1_%22%20%20style%3D%22overflow%3Avisible%3B%22%2F%3E%0A%20%20%20%20%3C%2FclipPath%3E%0A%20%20%20%20%3Crect%20x%3D%228%22%20y%3D%227%22%20class%3D%22st1%22%20width%3D%2231.458%22%20height%3D%2234%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    margin: 12px 1.5rem;
    cursor: pointer;
}


#head a{
    height: 36px;
    float: left;
}

.sidebar{
    cursor: pointer;
    width: 24px;
    margin: 12px 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    float: left;
}

body{
    margin: 0;
    transition: 0.2s;
}

@keyframes head{
    0% {background-position-x: 0%}
    100% {background-position-x: 10%}
}
.spam1{
    transform: translateY(-200%);
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
}
.spam2{
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
}
.spam3{
    transform: translateY(200%);
    width: 24px;
    height: 4px;
    position: absolute;
    background: #fcaf17;
}

.hidden{
    position:absolute!important;
    opacity: 0;
    top:0;
    max-width:1420px;
}

.main{
    position:relative;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.lunbo{
    max-width: 1420px;
    width: 100vw;
    margin: 0 -23.4px 3rem -23.4px;
}

.lunboimg{
    top: 0;
    left: 0;
    bottom: 0;
}

.z-1{
    width:100%;
    visibility:hidden;
    z-index: 1;
    margin:0;
    display:block;
    animation: 0.8s linear 0s 1 normal forwards running globalFadeIn;
}
.z-2{
    visibility:hidden;
    width:100%;
    position:absolute;
    z-index: 2;
    animation: 0.8s linear 0.8s 1 normal forwards running globalFadeIn;
}
.z-3{
    visibility:hidden;
    width:100%;
    position:absolute;
    z-index: 3;
    animation: 0.8s linear 1.6s 1 normal forwards running globalFadeIn;
}

@keyframes globalFadeIn{
    0%{opacity:0;}
    100% {visibility:visible; opacity: 1;}
}
.img-layer{
    position:relative;
    transition: transform 0.2s; 
    transition: opacity 1s;
}

.video{
    color:white;
    text-decoration: none;
}
.lunbotext{
    margin:0;
    background-color: black;
}

.videobutton{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0.75rem 0;
}
.news h3{
    font-size:0.92em;
}
.videobutton h3{
    margin: 0 30px;
    font-family: HelveticaNeueLTW07-85Heavy;
    font-size: 1rem;
}
.videobutton button{
    padding:0.75rem 1.5rem;
    height: 100%;
    background: #fcaf17;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    outline:none;
    font-family: HelveticaNeueLTW07-85Heavy;
}

@font-face {
	font-family:cos1;
	src: url('fonts/fontfz.ttf');
}

.control{
    text-align: center;
    position: relative;
}

.control button{
    max-width:11px;
    max-height:11px;
    padding: 0;
    height: 0.75rem;
    width: 0.75rem;
    margin:0 0 0 0.75rem;
    background: black;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    outline:none;
}

.To1{
    background: #fcaf17!important;
}

.NEWSWIRE{
    font-family: HelveticaNeueLTW07-85Heavy;
    font-size:1.8em;
    padding: 0 0 2px 0;
    border-bottom: 6px solid black;
    margin: 0 0 29px 0;
}
.new1{
    width:100%;
    position:relative;
}
.news{
    padding:14.625px;
}

.news h1{
    font-size:1.2em;
    width:100%;
}
.grid{
    text-decoration: none;
    color: black;
    transition: color 1s;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.p-0{
    margin:0;
}
.container{
    display: grid;
    grid-template-columns: repeat(6, minmax(0px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin: 0 0 35px 0;
}

.grid-1{
    grid-column: 1/-1;
}
.grid-2{
    grid-column: span 3;
}
.grid-3{
    grid-column: span 2;
}
.view{
    position: relative;
    background: transparent;
    padding: 0;
    z-index: 1;
    outline: none;
    text-decoration: none;
    text-transform: none;
    display:inline-block;
    color: black;
}
.view:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: #fcaf17;
    left: 0;
    transition: height 0.2s;
    z-index: -1;
}

.view_background{
    width:100%;
    height: 4px;
    background: #fcaf17;
}

.view:hover:before{
    height: 100%;
}

.FEATURED_GAMES{
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    margin: 0 0 1.875rem 0;
}

.games{
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.business{
    margin: 7.5rem 0 0 0;
    display: flex;
    padding:1.5rem;
    width:100%;
    background:black;
    color:white;
}
.business p{
    font-size: 1.2em;
}

aside{
    transform: translateX(calc(-100% - 10px));
    position: fixed;
    top:0;
    left:0px;
    right:-17px;
    width:100%;
    height:100%;
    z-index: 50;
    min-height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)), url(pic/2UO5.jpg);
    background-position: center center;
    background-size:cover;
}
aside::-webkit-scrollbar { width: 0 !important }
.search{
    width:100%;
    display:flex;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #fcaf17;
    margin: 0 0 3rem 0;
}

.search button{
    outline:none;
    width: 36px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2022.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20viewBox%3D%220%200%2036%2036%22%20style%3D%22enable-background%3Anew%200%200%2036%2036%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%09.st0%7Bfill%3A%23FCAF17%3B%7D%0A%3C%2Fstyle%3E%0A%3Ctitle%3Eui_search%3C%2Ftitle%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M34.3%2C29.8L25.4%2C21c3.4-5.7%2C1.5-13.1-4.2-16.5S8.1%2C3.1%2C4.7%2C8.8S3.2%2C21.9%2C9%2C25.2c3.8%2C2.2%2C8.5%2C2.2%2C12.2%2C0l8.8%2C8.8%0A%09L34.3%2C29.8z%20M9.1%2C14.9c0-3.3%2C2.7-6%2C6-6s6%2C2.7%2C6%2C6s-2.7%2C6-6%2C6C11.8%2C20.9%2C9.1%2C18.2%2C9.1%2C14.9z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-position: left center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 0 0 0 10px;
}

.search input{
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 1em 1.25rem;
    color:white;
    font-size:100%;
}
.l1{
    display:inline-block;
    margin: 0 0 2.25rem 0;
    width:100%;
    font-size:2em;
    color:#fcaf17;
    font-weight: bold;
    transition: color 0.5s;
    text-decoration:none;
}
.l1:hover{
    color: white;
}

.f1{
    background: rgba(0, 0, 0, 0.8);
    width:100%;
    padding:29.250px 0;
}

.f2{
    padding: 0 29.275px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:100%;
}

.lang{
    color:#fcaf17;
    cursor: pointer;
}

.lang_list{
    position: absolute;
    left: 50%;
    bottom: 100%;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    transform: translateX(-50%);
    width:100%;
    display: flex;
    flex-flow: column;
    min-width: max-content;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 0 10px 0 0;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.9);
    padding: 14.625px;
}

.langset{
    display:block;
    margin:0 0 10px 0;
    font-size:1.2em;
    text-decoration: none;
    color:white;
}

.infor{
    display:flex;
}
.m-15{
    margin:0 0 1.5rem 0;
}

.infor a{
    transition: color 0.5s;
    padding: 0.75rem 0;
    color:#fcaf17;
    text-decoration:none;
    display:block;
    margin:0 0 0 12px;
}

.tw{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2221px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2021%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2062%20(91390)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3Esocial%2Ftwitch%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Homepage-Insitu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22002_HP_NAVCONCEPT_opt1_Expanded_XL%22%20transform%3D%22translate(-1739.000000%2C%20-1220.000000)%22%20fill%3D%22%23FCAF17%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22SOCIAL%22%20transform%3D%22translate(1560.000000%2C%201220.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22social%2Ftwitch%22%20transform%3D%22translate(179.449915%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22TwitchGlitchWhite%22%20transform%3D%22translate(-0.000000%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.25764873%2C0%20L0%2C4.25764873%20L0%2C19.5851842%20L5.10917848%2C19.5851842%20L5.10917848%2C23.8428329%20L9.36682721%2C19.5851842%20L12.7729462%2C19.5851842%20L20.4367139%2C11.9214164%20L20.4367139%2C0%20L4.25764873%2C0%20Z%20M18.7336544%2C11.0698867%20L15.3275354%2C14.4760057%20L11.9214164%2C14.4760057%20L8.94106233%2C17.4563598%20L8.94106233%2C14.4760057%20L5.10917848%2C14.4760057%20L5.10917848%2C1.70305949%20L18.7336544%2C1.70305949%20L18.7336544%2C11.0698867%20Z%22%20id%3D%22Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%2214.4760057%22%20y%3D%224.6834136%22%20width%3D%221.70305949%22%20height%3D%225.10917848%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22Rectangle%22%20x%3D%229.79259208%22%20y%3D%224.6834136%22%20width%3D%221.70305949%22%20height%3D%225.10917848%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.ins{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2222px%22%20height%3D%2222px%22%20viewBox%3D%220%200%2022%2022%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2062%20(91390)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3Esocial%2Finstagram%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220%200.00658161533%2020.8558972%200.00658161533%2020.8558972%2020.8599951%200%2020.8599951%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Homepage-Insitu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22002_HP_NAVCONCEPT_opt1_Expanded_XL%22%20transform%3D%22translate(-1604.000000%2C%20-1221.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22SOCIAL%22%20transform%3D%22translate(1560.000000%2C%201220.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22social%2Finstagram%22%20transform%3D%22translate(44.862479%2C%201.303905)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22glyph-logo_May2016%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.4279693%2C0.00658161533%20C7.59588778%2C0.00658161533%207.24077031%2C0.0185858194%206.12851872%2C0.0693346269%20C5.01858517%2C0.119959253%204.26054038%2C0.296255477%203.59724602%2C0.554056108%20C2.91151621%2C0.820508044%202.32997461%2C1.1770743%201.75021295%2C1.75679457%20C1.17049268%2C2.33655623%200.813926429%2C2.91809783%200.547474493%2C3.60382763%20C0.289673862%2C4.267122%200.113377638%2C5.02516679%200.0627530116%2C6.13510033%20C0.0120042041%2C7.24735193%200%2C7.6024694%200%2C10.4345509%20C0%2C13.266591%200.0120042041%2C13.6217085%200.0627530116%2C14.7339601%20C0.113377638%2C15.8438936%200.289673862%2C16.6019384%200.547474493%2C17.2652328%20C0.813926429%2C17.9509626%201.17049268%2C18.5325042%201.75021295%2C19.1122658%20C2.32997461%2C19.6919861%202.91151621%2C20.0485523%203.59724602%2C20.3150457%20C4.26054038%2C20.5728049%205.01858517%2C20.7491011%206.12851872%2C20.7997258%20C7.24077031%2C20.8504746%207.59588778%2C20.8624788%2010.4279693%2C20.8624788%20C13.2600094%2C20.8624788%2013.6151268%2C20.8504746%2014.7273784%2C20.7997258%20C15.837312%2C20.7491011%2016.5953568%2C20.5728049%2017.2586511%2C20.3150457%20C17.944381%2C20.0485523%2018.5259225%2C19.6919861%2019.1056842%2C19.1122658%20C19.6854045%2C18.5325042%2020.0419707%2C17.9509626%2020.3084641%2C17.2652328%20C20.5662233%2C16.6019384%2020.7425195%2C15.8438936%2020.7931442%2C14.7339601%20C20.843893%2C13.6217085%2020.8558972%2C13.266591%2020.8558972%2C10.4345509%20C20.8558972%2C7.6024694%2020.843893%2C7.24735193%2020.7931442%2C6.13510033%20C20.7425195%2C5.02516679%2020.5662233%2C4.267122%2020.3084641%2C3.60382763%20C20.0419707%2C2.91809783%2019.6854045%2C2.33655623%2019.1056842%2C1.75679457%20C18.5259225%2C1.1770743%2017.944381%2C0.820508044%2017.2586511%2C0.554056108%20C16.5953568%2C0.296255477%2015.837312%2C0.119959253%2014.7273784%2C0.0693346269%20C13.6151268%2C0.0185858194%2013.2600094%2C0.00658161533%2010.4279693%2C0.00658161533%20Z%20M10.4279693%2C1.88548791%20C13.2123237%2C1.88548791%2013.5421496%2C1.89612612%2014.6417347%2C1.94629542%20C15.6584493%2C1.99265648%2016.2106013%2C2.16253666%2016.5780542%2C2.3053453%20C17.0648039%2C2.494515%2017.4121808%2C2.72048379%2017.7770672%2C3.08541159%20C18.141995%2C3.450298%2018.3679638%2C3.79767483%2018.5571335%2C4.28442461%20C18.6999421%2C4.65187744%2018.8698223%2C5.20402943%2018.9161834%2C6.22074412%20C18.9663527%2C7.32032921%2018.9769909%2C7.65015507%2018.9769909%2C10.4345509%20C18.9769909%2C13.2189053%2018.9663527%2C13.5487312%2018.9161834%2C14.6483163%20C18.8698223%2C15.665031%2018.6999421%2C16.217183%2018.5571335%2C16.5846358%20C18.3679638%2C17.0713856%2018.141995%2C17.4187624%2017.7770672%2C17.7836488%20C17.4121808%2C18.1485766%2017.0648039%2C18.3745454%2016.5780542%2C18.5637151%20C16.2106013%2C18.7065237%2015.6584493%2C18.8764039%2014.6417347%2C18.922765%20C13.5423151%2C18.9729343%2013.2125307%2C18.9835725%2010.4279693%2C18.9835725%20C7.64336648%2C18.9835725%207.31362341%2C18.9729343%206.2141625%2C18.922765%20C5.19744781%2C18.8764039%204.64529582%2C18.7065237%204.27784299%2C18.5637151%20C3.79109322%2C18.3745454%203.44371639%2C18.1485766%203.07882998%2C17.7836488%20C2.71394357%2C17.4187624%202.48793338%2C17.0713856%202.29876368%2C16.5846358%20C2.15595505%2C16.217183%201.98607486%2C15.665031%201.9397138%2C14.6483163%20C1.88954451%2C13.5487312%201.8789063%2C13.2189053%201.8789063%2C10.4345509%20C1.8789063%2C7.65015507%201.88954451%2C7.32032921%201.9397138%2C6.22074412%20C1.98607486%2C5.20402943%202.15595505%2C4.65187744%202.29876368%2C4.28442461%20C2.48793338%2C3.79767483%202.71390217%2C3.450298%203.07882998%2C3.08541159%20C3.44371639%2C2.72048379%203.79109322%2C2.494515%204.27784299%2C2.3053453%20C4.64529582%2C2.16253666%205.19744781%2C1.99265648%206.2141625%2C1.94629542%20C7.31374759%2C1.89612612%207.64357345%2C1.88548791%2010.4279693%2C1.88548791%20L10.4279693%2C1.88548791%20Z%22%20id%3D%22Fill-1%22%20fill%3D%22%23FCAF17%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M10.4279693%2C13.9105131%20C8.50820729%2C13.9105131%206.95196572%2C12.3542715%206.95196572%2C10.4345509%20C6.95196572%2C8.51478891%208.50820729%2C6.95854734%2010.4279693%2C6.95854734%20C12.3476899%2C6.95854734%2013.9039314%2C8.51478891%2013.9039314%2C10.4345509%20C13.9039314%2C12.3542715%2012.3476899%2C13.9105131%2010.4279693%2C13.9105131%20Z%20M10.4279693%2C5.07964104%20C7.47050594%2C5.07964104%205.07305942%2C7.47708756%205.07305942%2C10.4345509%20C5.07305942%2C13.3919728%207.47050594%2C15.7894194%2010.4279693%2C15.7894194%20C13.3853912%2C15.7894194%2015.7828377%2C13.3919728%2015.7828377%2C10.4345509%20C15.7828377%2C7.47708756%2013.3853912%2C5.07964104%2010.4279693%2C5.07964104%20L10.4279693%2C5.07964104%20Z%22%20id%3D%22Fill-4%22%20fill%3D%22%23FCAF17%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17.2457777%2C4.86807729%20C17.2457777%2C5.55918829%2016.6855125%2C6.11941208%2015.9944015%2C6.11941208%20C15.3033319%2C6.11941208%2014.7430667%2C5.55918829%2014.7430667%2C4.86807729%20C14.7430667%2C4.17696629%2015.3033319%2C3.61670111%2015.9944015%2C3.61670111%20C16.6855125%2C3.61670111%2017.2457777%2C4.17696629%2017.2457777%2C4.86807729%22%20id%3D%22Fill-5%22%20fill%3D%22%23FCAF17%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.twit{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2220px%22%20height%3D%2217px%22%20viewBox%3D%220%200%2020%2017%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2062%20(91390)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3Esocial%2Ftwitter%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cg%20id%3D%22Homepage-Insitu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22002_HP_NAVCONCEPT_opt1_Expanded_XL%22%20transform%3D%22translate(-1650.000000%2C%20-1223.000000)%22%20fill%3D%22%23FCAF17%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22SOCIAL%22%20transform%3D%22translate(1560.000000%2C%201220.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22social%2Ftwitter%22%20transform%3D%22translate(89.724958%2C%202.607810)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Twitter_Logo_WhiteOnImage%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6.63658603%2C16.8010319%20C14.1364444%2C16.8010319%2018.2377406%2C10.5876381%2018.2377406%2C5.19987734%20C18.2377406%2C5.02331937%2018.2341633%2C4.84755635%2018.2260549%2C4.67274726%20C19.0221159%2C4.09728433%2019.7141977%2C3.37920771%2020.2601681%2C2.56160359%20C19.5295313%2C2.88610141%2018.7433276%2C3.10487112%2017.9185689%2C3.20344469%20C18.760419%2C2.69881164%2019.4067118%2C1.90004779%2019.7114949%2C0.948017944%20C18.9235423%2C1.41504995%2018.0512458%2C1.75473127%2017.1225079%2C1.93764883%20C16.378516%2C1.14516507%2015.3188502%2C0.649435438%2014.1463017%2C0.649435438%20C11.8943727%2C0.649435438%2010.0682975%2C2.47551071%2010.0682975%2C4.72656524%20C10.0682975%2C5.04661135%2010.1041496%2C5.35767454%2010.1740256%2C5.65625705%20C6.78540031%2C5.48589967%203.7804965%2C3.8633311%201.76967528%2C1.39620968%20C1.41918267%2C1.99862135%201.21750433%2C2.69881164%201.21750433%2C3.44550638%20C1.21750433%2C4.86019602%201.93732984%2C6.10897999%203.03189387%2C6.83953729%20C2.36318353%2C6.81894813%201.73477706%2C6.63515613%201.18522944%2C6.3294191%20C1.1842755%2C6.34643098%201.1842755%2C6.36352237%201.1842755%2C6.3814087%20C1.1842755%2C8.35637776%202.58998223%2C10.0049411%204.45548693%2C10.3788052%20C4.11310278%2C10.4719731%203.75267331%2C10.5222139%203.3806376%2C10.5222139%20C3.11798675%2C10.5222139%202.86249043%2C10.496219%202.61414865%2C10.4486812%20C3.13324976%2C12.0686264%204.63840449%2C13.2474549%206.42322196%2C13.2806838%20C5.02745209%2C14.3742939%203.26950386%2C15.0259923%201.35916409%2C15.0259923%20C1.03013507%2C15.0259923%200.705637254%2C15.0072315%200.386465592%2C14.969551%20C2.19107727%2C16.125962%204.33362138%2C16.8010319%206.63658603%2C16.8010319%22%20id%3D%22Fill-2%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.ytb{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2222px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2022%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2062%20(91390)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3Esocial%2Fyoutube%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220.00706869869%200.00471246579%2020.7348495%200.00471246579%2020.7348495%2014.608644%200.00706869869%2014.608644%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Homepage-Insitu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22002_HP_NAVCONCEPT_opt1_Expanded_XL%22%20transform%3D%22translate(-1694.000000%2C%20-1223.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22SOCIAL%22%20transform%3D%22translate(1560.000000%2C%201220.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22social%2Fyoutube%22%20transform%3D%22translate(134.587436%2C%203.911715)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22yt_icon_mono_dark%22%20transform%3D%22translate(0.000000%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.24681514%2C10.3873349%20L8.24681514%2C4.22130905%20L13.6661508%2C7.30443979%20L8.24681514%2C10.3873349%20Z%20M20.3015383%2C2.28118688%20C20.0630875%2C1.38322652%2019.3604588%2C0.67612103%2018.4683891%2C0.436138709%20C16.8514242%2C0%2010.3674247%2C0%2010.3674247%2C0%20C10.3674247%2C0%203.88342525%2C0%202.26646042%2C0.436138709%20C1.37439065%2C0.67612103%200.671761999%2C1.38322652%200.43331123%2C2.28118688%20C0%2C3.90863694%200%2C7.30432198%200%2C7.30432198%20C0%2C7.30432198%200%2C10.6998892%200.43331123%2C12.3274571%20C0.671761999%2C13.2254174%201.37439065%2C13.9325229%202.26646042%2C14.1726231%20C3.88342525%2C14.608644%2010.3674247%2C14.608644%2010.3674247%2C14.608644%20C10.3674247%2C14.608644%2016.8514242%2C14.608644%2018.4683891%2C14.1726231%20C19.3604588%2C13.9325229%2020.0630875%2C13.2254174%2020.3015383%2C12.3274571%20C20.7348495%2C10.6998892%2020.7348495%2C7.30432198%2020.7348495%2C7.30432198%20C20.7348495%2C7.30432198%2020.7348495%2C3.90863694%2020.3015383%2C2.28118688%20L20.3015383%2C2.28118688%20Z%22%20id%3D%22Fill-1%22%20fill%3D%22%23FCAF17%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.fcbk{
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2221px%22%20height%3D%2221px%22%20viewBox%3D%220%200%2021%2021%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2062%20(91390)%20-%20https%3A%2F%2Fsketch.com%20--%3E%0A%20%20%20%20%3Ctitle%3Esocial%2Ffacebook%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22path-1%22%20points%3D%220.00118043102%200.000786954013%2020.1460227%200.000786954013%2020.1460227%2020.0236514%200.00118043102%2020.0236514%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Homepage-Insitu%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22002_HP_NAVCONCEPT_opt1_Expanded_XL%22%20transform%3D%22translate(-1560.000000%2C%20-1221.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22SOCIAL%22%20transform%3D%22translate(1560.000000%2C%201220.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22social%2Ffacebook%22%20transform%3D%22translate(-0.000000%2C%201.303905)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22f_logo_RGB-White_1024%22%20transform%3D%22translate(0.000000%2C%200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fmask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M20.1460227%2C10.0730114%20C20.1460227%2C4.50983671%2015.636186%2C0%2010.0730114%2C0%20C4.50983671%2C0%200%2C4.50983671%200%2C10.0730114%20C0%2C15.1007425%203.68355467%2C19.2679788%208.49910334%2C20.0236514%20L8.49910334%2C12.9847412%20L5.9415028%2C12.9847412%20L5.9415028%2C10.0730114%20L8.49910334%2C10.0730114%20L8.49910334%2C7.85380105%20C8.49910334%2C5.32925257%2010.0029331%2C3.93477006%2012.3038293%2C3.93477006%20C13.4058993%2C3.93477006%2014.5586492%2C4.13150857%2014.5586492%2C4.13150857%20L14.5586492%2C6.61041371%20L13.2884661%2C6.61041371%20C12.0371502%2C6.61041371%2011.6469194%2C7.38688156%2011.6469194%2C8.18347576%20L11.6469194%2C10.0730114%20L14.4406061%2C10.0730114%20L13.9940097%2C12.9847412%20L11.6469194%2C12.9847412%20L11.6469194%2C20.0236514%20C16.4624681%2C19.2679788%2020.1460227%2C15.1007425%2020.1460227%2C10.0730114%22%20id%3D%22Fill-1%22%20fill%3D%22%23FCAF17%22%20mask%3D%22url(%23mask-2)%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}
.share{
    display: flex;
}
.share a{
    margin: 0 0 0 29.250px;
    display:block;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width:18px;
    height:18px;
}

@font-face {
    font-family: "HelveticaNeueLTW07";
    src: url(fonts/3v5c.woff2) format("woff2"), url(fonts/27t6.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTW07";
    src: url(fonts/26D_.woff2) format("woff2"), url(fonts/21e7.woff) format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "HelveticaNeueLTW07";
    src: url(fonts/1YcS.woff2) format("woff2"), url(fonts/1gBB.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "HelveticaNeueLTW07";
    src: url(fonts/19At.woff2) format("woff2"), url(fonts/2rOC.woff) format("woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "HelveticaNeueLTW07-85Heavy";
    src: url(fonts/PSnK.woff2) format("woff2"), url(fonts/2pCM.woff) format("woff");
    font-weight: 750;
    font-style: normal;
}

@media screen and (min-width: 0) {
    html {
      font-size: 0.8125em!important;
    }
  }
  @media screen and (min-width: 768px) {
    html {
      font-size: 0.89375em!important;
    }
  }
  @media screen and (min-width: 992px) {
    html {
      font-size: 0.975em!important;
    }
  }
  @media screen and (min-width: 1200px) {
    html {
      font-size: 1.05625em!important;
    }
  }
  @media screen and (min-width: 1440px) {
    html {
      font-size: 1.1375em!important;
    }
  }
  @media screen and (min-width: 1920px) {
    html {
      font-size: 1.21875em!important;
    }
  }

.line{
    align-items: center!important;
    flex-flow: column!important;
}

.m-39{
    min-height: 3rem;
}

.footer{
    position:relative;
}

.var{
    align-items: flex-start!important;
    flex-flow: column!important;
}

.var a{
    margin:0 18px 0 0;
}

.grid:hover h1{
    color:#fcaf17;
}
.grid:hover h4{
    color:#fcaf17;
}

.login{
    position:fixed;
    background: white;
    top:60px;
    right:0;
    z-index:1000;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    padding: 0.75rem;
    transform: translateX(100%);
}
body{
    overflow-x: hidden;
}
.signin{
    display:block;
    padding: 0 0 0.75rem 0;
    margin: 0 0 0.75rem 0;
    border-bottom: 1px solid rgba(217, 217, 217, 0.9);
}

.join{
    display:block;
}

.cursor{
    cursor: pointer;
}

.animi{
    animation: globalFadeInUp 0.75s;
}

.infor a:hover{
    color: white;
}